  <head>
	<meta charset="utf-8"/>
	<link href="view/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="header">

</div>

<div id="nav">
	<table>
	<tr><td><a id="login" href="" onclick="Login();return false;"> Login with Student Numberasdasd</a></td></tr>
	<tr><td><a id="signup" href="" onclick="SignUp();return false;"> Sign up for account</a></td></tr>
	</table>
</div>
  <!--div id="MainBlock" > </div>
    <div id="loginView">
        <form method="post" action="controller/login.php" onsubmit="return Validation.validateLoginForm();">
        <table>
            <tr>
                <td>Student Number:</td>
                <td><input class="loginField" name="StudentNum" id="loginStudentNum" type="text"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="loginField" name="Password" id="loginPassword" type="password"/></td>
            </tr>
            <tr>
                <input type="hidden" value="login" name="typeofrequest"/>
                <td colspan="1" style="text-align:center-left;">
                    <input id="login" type="submit" value="Login" 
                    style="width:90%"/>
                </td>
            </tr>
        </table>
        </form>
    </div-->
