<form method="post" action="controller/login.php" onsubmit="return Validation.validateLoginForm();">
    <table>
        <tr>
            <td><b><i>Student Number:</i></b>b></td>
            <td><input class="loginField" name="StudentNum" id="loginStudentNum" type="text"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input class="loginField" name="Password" id="loginPassword" type="password"/></td>
        </tr>
        <tr>
      <input id="Submit" class="submit_btn" name="submit" type="submit" value="Submit">
        </tr>
    </table>
    </form>
