<form> <!--  method="post"  action="controller/login.php" onsubmit="return Validation.validateLoginForm();class="loginFieldclass="loginField" n"">
 -->   <table>
        <tr>
            <td><b><i>Student Number:</i></b>b></td>
            <td><input id="Number"  name="StudentNum" id="loginStudentNum" type="text"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="Password" name="Password" id="loginPassword" type="password"/></td>
        </tr>
        <tr>
      <input id="Submit" class="submit_btn" name="submit" type="submit" value="Submit" onclick="SubmitForm()">
        </tr>
   </table>
</form>

<button onclick="SubmitForm()"> Click Me </button>
