

<link type="text/css" href="ofCourseStyle.css">


<body >

<h2><b><center>Choose Your Courses</center></b></h2>
<table width="100%"> 
 <colgroup>
 <col width="12.5%">
 <col width="12.5%">
		 <col width="12.5%">
        <col width="12.5%">
		<col width="12.5%">
        <col width="12.5%">
		 <col width="12.5%">
        <col width="12.5%">
</colgroup>


<tr>
<th colspan="8">Communications Engineering</th>
</tr>

<tr>
<th colspan="2"bgcolor="d3d3d3">First Year</th>
<th colspan="2"bgcolor="d3d3d3">Second Year</th>
<th colspan="2"bgcolor="d3d3d3">Third Year</th>
<th colspan="2"bgcolor="d3d3d3">Fourth Year</th>
</tr>
<tr>
<div colspan="1">
<th>Fall</th>
<th>Winter</th>
<th>Fall</th>
<th>Winter</th>
<th>Fall</th>
<th>Winter</th>
<th>Fall</th>
<th>Winter</th>
</div>
</tr>

<!--  form action="" onsubmit="alert('hello world')"-->

<tr>
<div colspan="1" class="table" height="100">
<td height="85"style="border:9px solid green"> 
<input  type="checkbox" name="class[]" value="MATH 1104">MATH 1104<br>
</td>
<td height="85"style="border:9px solid green"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="MATH 1005">MATH 1005<br>
</td>
<td height="85"style="border:9px solid green">
<input  type="checkbox" name="class[]" value="MATH 2004">MATH 2004<br>
</td>
<td height="85"style="border:9px solid green"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="MATH 3705">MATH 3705<br>
</td>
<td height="85"style="border:9px solid green">
<input  type="checkbox" name="class[]" value="STAT 2605">STAT 2605<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="SYSC 4502">SYSC 4502<br>
</td>
<td height="85"style="border:9px solid purple">
<input  type="checkbox" name="class[]" value="SYSC 4405">SYSC 4405<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="SYSC 4700">SYSC 4700<br>
</td>
</tr>
</div>
<tr>
<div colspan="1" class="table" height="100">
<td height="85"style="border:9px solid green">
<input  type="checkbox" name="class[]" value="MATH 1004">MATH 1004<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="PHYS 1004">PHYS 1004<br>
</td>
<td height="85"style="border:9px solid purple">
<input  type="checkbox" name="class[]" value="SYSC 2001">SYSC 2001<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input  type="checkbox" name="class[]" value="SYSC 2003">SYSC 2003<br>
</td>
<td height="85"style="border:9px solid purple">
<input  type="checkbox" name="class[]" value="SYSC 3500">SYSC 3500<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="SYSC 3503">SYSC 3503<br>
</td>
<td height="85"style="border:9px solid purple">
<input type="checkbox" name="class[]" value="SYSC 4604">SYSC 4604<br>
</td>
<td height="85"style="border:9px solid green"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="MATH 4701">MATH 4701<br>
</td>
</tr>
</div>
<tr>
<div colspan="1" class="table" height="100">
<td height="85"style="border:9px solid black">
<input type="checkbox" name="class[]" value="ECOR 1010">ECOR 1010<br>
</td>
<td height="85"style="border:9px solid black"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ECOR 1101">ECOR 1101<br>
</td>
<td height="85"style="border:9px solid purple">
<input type="checkbox" name="class[]" value="SYSC 2006">SYSC 2006<br>
</td>
<td height="85"style="border:9px solid purple"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="SYSC 2004">SYSC 2004<br>
</td>
<td height="85"style="border:9px solid purple">
<input type="checkbox" name="class[]" value="SYSC 4602">SYSC 4602<br>
</td>
<td height="85"style="border:9px solid black"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ECOR 3800">ECOR 3800<br>
</td>
<td height="OffCoursePage(){85"style="border:9px solid purple">
<input type="checkbox" name="class[]" value="SYSC 4504">SYSC 4504<br>
</td>
<td height="85"style="border:9px solid black"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ECOR 4995">ECOR 4995<br>
</td>
</td>
</tr>
</div>
<tr>
<div colspan="1" class="table">
<td height="85" style="border:9px solid yellow">
<input type="checkbox" name="class[]" value="CHEM 1101">CHEM 1101<br>
</td>
<td height="85" style="border:9px solid black"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ECOR 1606">ECOR 1606<br>
</td>
<td height="85" style="border:9px solid orange">
<input type="checkbox" name="class[]" value="ELEC 2501">ELEC 2501<br>
</td>
<td height="85"style="border:9px solid orange"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ELEC 2507">ELEC 2507<br>
</td>
<td height="85"style="border:9px solid orange">
<input type="checkbox" name="class[]" value="ELEC 3509">ELEC 3509<br>
</td>
<td height="85"style="border:9px solid orange"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ELEC 3909">ELEC 3909<br>
</td>
<td colspan="2"height="85"style="border:9px solid purple">
<input type="checkbox" name="class[]" value="SYSC 4937">SYSC 4937<br>
</td>
</div>
</tr>
<tr>
<div colspan="1" class="table" >
<td height="85" style="border:9px solid grey">
<input type="checkbox" name="class[]" value="ELCT 0001">ELECTIVE<br>
</td>
<td height="85" style="border:9px solid grey"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ELCT 0002">ELECTIVE<br>
</td>
<td height="85" style="border:9px solid black">
<input type="checkbox" name="class[]" value="CCDP 2100">CCDP 2100<br>
</td>
<td height="85" style="border:9px solid orange"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ELEC 2607">ELEC 2607<br>
</td>
<td height="85" style="border:9px solid orange">
<input type="checkbox" name="class[]" value="ELEC 3500">ELEC 3500<br>
</td>
<td height="85" style="border:9px solid grey">
<input type="checkbox" name="class[]" value="ELCT 0003">ELECTIVE<br>
</td>

<td height="85" style="border:9px solid grey">
<input type="checkbox" name="class[]" value="ELCT 0004">ELECTIVE<br>
</td>
<td height="85" style="border:9px solid grey"bgcolor="d3d3d3">
<input type="checkbox" name="class[]" value="ELCT 0005">ELECTIVE<br>
</td>
</tr>
</div>
<tr>
		<!--  td colspan="1" style="text-align:center-left;">
			<input type="hidden" value="submitclasses" name="typeofrequest"/>
			<input id="Submit" type="submit" value="Submit" 
			style="width:90%"/>
		</td-->

	</tr>


</table>
<div id="buttonWrapper">
		<button onclick="SubmitSchedule()">Submit</button>
</div>
<!-- /form-->

</body>

</html>

