<html>
<head>
</head>

<body>
	<script type="text/javascript" src="script.js"></script>
	<form name="SignUpForm" onsubmit="return validateSignUpForm();" action="install.php" method="post">
		<table>
			<tr>
				<td>Student Number:</td>
				<td><input name="StudentNumber" id="studentNum" type="text"/></td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td>
					<input name="FirstName" id="firstName" type="text"
					onkeyup="validateStringField('firstName','confirmLastValidate');"/>
					<span id="confirmLastValidate" class="confirmMessage"></span>
				</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>
					<input name="LastName" id="lastName" type="text"
					onkeyup="validateStringField('lastName','confirmFirstValidate');"/>
					<span id="confirmFirstValidate" class="confirmMessage"></span>
				</td>
			</tr>
			<tr>
				<td>Program:</td>
				<td>
					<select name="program">
					<option value="blank"></option>
					<option value="ee"> EE </option>
					<option value="cse"> CSE </option>
					<option value="se"> SE </option>
					<option value="ce"> CE </option>
					</select>
				</td>
			</tr>
			<tr>
				<td>On/Off Course:</td>
				<td>
					<select name="onOffCourse">
					<option value=""></option>
					<option value="onCourse"> On </option>
					<option value="offCourse"> Off </option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td>
					<input name="Password" id="password" type="password"
					onkeyup="validatePassword();"/>
					<span id="confirmPassValidate" class="confirmMessage"></span>
				</td>
			</tr>
			
			<tr>
				<td>Confirm Password:</td>
				<td>
					<input name="ConfPassword" id="confPass" type="password"
					onkeyup="checkPasswordMatch(); return false;"/>
					<span id="confirmPassMatch" class="confirmMessage"></span>
				</td>
			</tr>
			<tr>
				<td colspan="1" style="text-align:center-left;">
					<input id="submitBut" type="submit" value="Send it to server" 
					style="width:90%"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
